.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid black;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: repeat(3,100px);
    /* it requires space in body works for horizontal and takes full grid  column spoacing*/ 
    justify-content:space-around;

    /* works vertically row spacing */
    align-content: space-around;

    
    /* */
    grid-auto-columns: 60px;
    


    /* 3 equal columns */
    /* grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas: 
      "header header header"
      "main sidebar item3"
      "footer footer footer"; */

    column-gap: 0px;
}

.item{
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    align-content: center;
    color: white;
}

/* .item1{ grid-area: header; }
.item2{ grid-area: main; }
.item3{ grid-area: item3; }
.item4{ grid-area: footer; } */

.sidebar{
    grid-area: sidebar;
    background: cyan;  /* blue box */
}
