body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:lightsalmon;
    padding: 1rem;
}
.logo{
    color:black ;
    font-size: 1.5rem;
}
.menu{
    display: none;
    flex-direction: column;
}
.menu a{
    color: gold;
    padding: 1rem;
    text-decoration: none;
    display: block;
}
.hamburger{
    font-size: 2rem;
    color:white;
    cursor: pointer;
}
@media(min-width:768px;){
    .menu{
        display: flex;
        flex-direction: row;
        background:none;
        position: static;
        width: auto;
    }
    .hamburger{
        display: none;
    }
}