/* @media{
Syntax
} */

@media(max-width:768px){
.box
{
    width: 100%;
    height: 100px;
    background-color:orange;
}
}
 @media(min-width:768px){
    .box{
          width: 100%;
    height: 100px;
        background-color: purple;
    }
}

li{
    list-style-type: none;
    text-decoration: none;
}
@media(min-width:320px) and (max-width:768px){
    nav ul{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    /* flex-direction: column; */
}
}
h1{
    background-color: black;
    color:white;
    text-align: center;
    }
